*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

   .container {
    width:40%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  input {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

 



  

  



